*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url(../../images/body-bg.png);
  background-repeat: no-repeat;
  background-position: top right -5rem;

  @include responsive(laptop) {
    background-position: top right -10rem;
  }

  @include responsive(laptopFirst) {
    background-image: url(../../images/body-bg-tablet.png);
    background-repeat: no-repeat;
    background-position: top 2rem right;
  }

  @include responsive(tabletFirst) {
    background: none;
  }
}

.container {
  width: 100%;
  max-width: 1190px;
  padding: 0 4rem;
  margin: 0 auto;

  @include responsive(mobileSecond) {
    padding: 0 1.6rem;
  }
}
